<h2>Top 5 usários com mais seguidores</h2>
<ul class="top5">
  <li *ngFor="let twitterUser of twitterUsers" 
      [class.selected]="twitterUser === selectedTwitterUser"
      (click)="onSelect(twitterUser)">
    <span class="badge">{{twitterUser.followersCount}}</span> {{twitterUser.fromUser}}
  </li>
</ul>

<div *ngIf="selectedTwitterUser">
  <h2>Detalhes do usuário {{selectedTwitterUser.fromUser | uppercase}}</h2>
  <div><span>Usuário: </span>{{selectedTwitterUser.fromUser}}</div>
  <div><span>Quantidade de Seguidores: </span>{{selectedTwitterUser.followersCount}}</div>
</div>
